<div class='container'>
  <div class='row'>
    <center><h1>Welcome To Shirjeel's Playground</h1></center>
    <div class='col-md-4'>Column 1</div>
    <div class='col-md-4'>Column 2</div>
    <div class='col-md-4'>Column 3</div>
  </div>
  <!-- <center><iframe src='http://www.pdf995.com/samples/pdf.pdf' style='width:720px;height:1280px'></iframe></center> -->
  <center><object data='http://www.pdf995.com/samples/pdf.pdf' type="application/pdf" width="1280" height="720">alt : <a href='http://www.pdf995.com/samples/pdf.pdf'>test.pdf</a></object></center>
</div>